RewriteEngine On

RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ ?controller=$1&action=$2

RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ ?controller=$1&action=$2&action_admin=$3

RewriteRule ^([a-zA-Z0-9]+)$ ?controller=$1




